a{
    color: white;
    text-decoration: none;
}
body{
    background-color: #26263f;
}

#top{width: 100vw;
    height: 10vh;
    background-color: #36364f;
    position: absolute;
    top: 0vh;
    left: 0vw;
   }

.logo{width: 8vw;
     height: 8vh;
     position: absolute;
     background-image: url("logo.png");
     display: block;
     background-size: 80%;
     background-repeat: no-repeat;
     top: 0vh;
     left: 5vw;
    }

.dropdownmenu {
        cursor: pointer;
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: white;
        text-align: center;
        font-weight: bold;
        z-index: 1000;
    }
.dropdownmenu .one {
        height: 6vh;
        width: 20vw;
        font-size: 30px;
        position:absolute ;
        top: 2vh;
        left: 15vw;
        background-color: #36364f;
        z-index: 1000;
        }
.dropdownmenu .one ul {
        display: none;
        width: 40vw;
        height: 23vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color:#36364f;
        min-width: 160px;
        font-size: 20px;
        z-index: 1000;
    }
.dropdownmenu .one:hover ul {
        display: block;
    }
.dropdownmenu .one a {
        display: block;
    }
.dropdownmenu .one ul li {
        padding: 8px 12px;
    }
.dropdownmenu .one ul li:hover {
        background-color:  #2a2a40;
    }
.pgde {width: 60vw;
        height: 10vh;
        border-color: white;
        color: white;
        position: absolute;
        top: 20vh;
        left: 32vw;
        text-align: center;}

.act8 {width: 20vw;
        height: 70vh;
        background-image: url("act3.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 20vh;
        left:10vw;
        z-index: 1;
           }
.o6 {width: 20vw;
    height: 25vh;
    font-size: 20px;
    color: white;
    border-color: white;
    position: absolute;
    top: 80vh;
    left: 10vw;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    }
    
.popg {width: 50vw;
    height: 20vh;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 10vh;
    left: 25vw;
    text-align: center;
    padding: 1% 0;}
    
.act2 {width: 20vw;
        height: 70vh;
         background-image: url("act2.jpg");
         display: block;
         background-size: 100%;
         background-repeat: no-repeat;
         position: absolute;
         top: 25vh;
         left: 37vw;
        }
.o1  {width: 20vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 60vh;
        left: 0vw;
        text-align: center;
        text-shadow: 1px 1px 1px black;
       }
    
.act1 {width: 20vw;
         height: 70vh;
         background-image: url("act1.jpg");
         background-size: 100%;
         background-repeat: no-repeat;
         position: absolute;
         top: 110vh;
         left: 10vw;
        }
.o2   {width: 20vw;
            height: 25vh;
            font-size: 20px;
            color: white;
            border-color: white;
            position: absolute;
            top: 55vh;
            left: 0vw;
            text-align: center;
            text-shadow: 1px 1px 1px black;
           }
    
.act3 {width: 20vw;
        height: 70vh;
        background-image: url("act5.jpg");
         display: block;
         background-size: 100%;
         background-repeat: no-repeat;
        position: absolute;
        top: 25vh;
        left: 10vw;
       }
.o3  {width: 20vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 55vh;
        left: 0vw;
        text-align: center;
         }
    
.act4 {width: 20vw;
        height: 70vh;
        background-image: url("act4.jpg");
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 110vh;
        left: 37vw;
           }
.o4  {width: 20vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 55vh;
        left: 0vw;
        text-align: center;
         }
.o5  {width: 20vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 22vh;
        left: 65vw;
        text-align: center;
         }

.danheng {width: 40vw;
    height: 70vh;
    background-image: url("Danheng.png");
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 25vh;
    left: 50vw;
    }
.d1  {width: 40vw;
    height: 25vh;
    font-size: 20px;
    color: white;
    border-color: white;
    position: absolute;
    top: 55vh;
    left: 0vw;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    }
.lunae {width: 40vw;
        height: 70vh;
        background-image: url("Lunae.png");
         display: block;
         background-size: 100%;
         background-repeat: no-repeat;
        position: absolute;
        top: 125vh;
        left: 5vw;
       }
.d3  {width: 40vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 55vh;
        left: 0vw;
        text-align: center;
         }
.terrae {width: 40vw;
         height: 70vh;
         background-image: url("Terrae.png");
         background-size: 100%;
         background-repeat: no-repeat;
         position: absolute;
         top: 230vh;
         left: 50vw;
        }
.d2   {width: 40vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 55vh;
        left: 0vw;
        text-align: center;
        text-shadow: 1px 1px 1px black;
           }
.acti2  {width: 30vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 40vh;
        left: 8vw;
        text-align: center;
        }

.two  {width: 30vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 130vh;
        left: 55vw;
        text-align: center;
        }
.three  {width: 30vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
        top: 240vh;
        left: 8vw;
        text-align: center;
        }
.dan3 {width: 40vw;
    height: 70vh;
    background-image: url("Dan3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 340vh;
    left: 50vw;
    }
.d31   {width: 40vw;
        height: 25vh;
        font-size: 20px;
        color: white;
        border-color: white;
        position: absolute;
       top: 55vh;
       left: 0vw;
        text-align: center;
       text-shadow: 1px 1px 1px black;
          }

.tree {width: 40vw;
        height: 70vh;
        background-image: url("tree.png");
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 25vh;
        left: 50vw;
        }
.d1t  {width: 40vw;
            height: 25vh;
            font-size: 20px;
            color: white;
            border-color: white;
            position: absolute;
            top: 45vh;
            left: 0vw;
            text-align: center;
            text-shadow: 1px 1px 1px black;
            }
